[build]
  command = "npm ci && chmod +x node_modules/.bin/vite && npm run build"
  publish = "dist"


[dev]
  command = "npm run dev"
  targetPort = 5173
  port = 8888
  autoLaunch = true

[functions]
  directory = "netlify/functions"
